body {
    background-color: #f1f1f1;
    font-family: "Optima", sans-serif;
    color: #16001eff;
}

.header {
    text-align: center;
    padding: 0.625rem;
}

.gallery img {
    padding-bottom: 1.25rem;
}

.index img {
    padding-bottom: 1.25rem;
}

.center-form {
    padding: 0.625rem;
}

button {
    margin: 0.625rem;
}

footer a {
    text-decoration: none;
}

.about-project {
    text-align: justify;
}

.social-media {
    font-size: 1.25rem;
    color: #16001eff;
}
