/*---------------body-------------*/
body {
    background-color: #f1f1f1;
    font-family: "Optima", sans-serif;
    color: #16001eff;
}

/*----------------header------------*/
.header {
    text-align: center;
    padding: 0.625rem;
}

/*---------footer styling-------*/

.social-media {
    font-size: 1.25rem;
    color: #16001eff;
}


/*--------images on index page------*/
.index img {
    padding-bottom: 1.25rem;
}

/*------images on gallery page------*/
.gallery img {
    padding-bottom: 1.25rem;
}

/*----contact form page styling-----*/

.center-form {
    padding: 0.625rem;
}

button {
    margin: 0.625rem;
}

/*---------about page styling-----*/

.about-artist {
    text-align: justify;
    margin: 0.625rem;
}

.about-project {
    text-align: justify;
    margin: 0.625rem;
}